apiVersion: noobaa.io/v1alpha1
kind: NooBaa
metadata:
  name: {{ ocp4_workload_platform_engineering_workshop_noobaa_name }}
  namespace: {{ ocp4_workload_platform_engineering_workshop_noobaa_namespace }}
  finalizers:
    - noobaa.io/graceful_finalizer
  labels:
    app: noobaa
spec:
  security:
    kms: {}
  coreResources:
    limits:
      cpu: 999m
      memory: 4Gi
    requests:
      cpu: 125m
      memory: 1Gi
  dbResources:
    limits:
      cpu: 500m
      memory: 4Gi
    requests:
      cpu: 125m
      memory: 1Gi
  dbVolumeResources:
    requests:
      storage: 50Gi
  cleanupPolicy:
    allowNoobaaDeletion: true
  dbType: postgres
  endpoints:
    maxCount: 2
    minCount: 1
    resources:
      limits:
        cpu: 999m
        memory: 2Gi
      requests:
        cpu: 125m
        memory: 1Gi
  loadBalancerSourceSubnets: {}
  labels:
    monitoring: {}
