apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_platform_engineering_workshop_parasol_argo_application_name }}
  namespace: {{ ocp4_workload_platform_engineering_workshop_parasol_argo_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ r_platform_engineering_workshop_parasol_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_platform_engineering_workshop_application_repo }}
    targetRevision: {{ ocp4_workload_platform_engineering_workshop_application_repo_tag }}
    path: {{ ocp4_workload_platform_engineering_workshop_application_repo_path_parasol }}
    helm:
      values: |


        parasol-db:
          pgsql:
            adminPassword: adminpassword
          image:
            tag: latest
          db:
            deploy: true

        parasol-web:
          sso:
            url: "https://{{ ocp4_workload_platform_engineering_workshop_rhbk_host }}.{{ r_openshift_subdomain }}/realms/{{ ocp4_workload_platform_engineering_workshop_rhbk_realm }}"
            client: {{ ocp4_workload_platform_engineering_workshop_rhbk_web_gateway_client }}
            logoutUri: https://parasol-web-{{ r_platform_engineering_workshop_parasol_namespace }}.{{ r_openshift_subdomain }}/home
            logLevel: "2"

